<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<h1> Welcome to Shop </h1>

<button class="btn btn-outline-success" type="submit"><a class="btn btn-primary w-100"
                                                         href="/category/show" >Show categories</a>
</button>
<br/>
<button class="btn btn-outline-success" type="submit"><a class="btn btn-primary w-100"
                                                         href="/product/show" >Show products</a></button>

</body>
</html>